body {
    font-family: Courier;
    font-size: 20px;
    text-align: center;
    background-color: #dddddd;
    
}

header {
    margin-top: 40px;
}

h3 {
    margin-top: 30px;
}

#rules {
    margin-top: 50px;
}

li {
    margin:20px auto;
    list-style-type:none;
}

li:first-child{
    font-weight: bold;
}

li:nth-child(odd){
    color:white;
    background-color: #b2b2b2;
    border-radius: 10px;
}

li:nth-child(even){
    background-color: white;
    border-radius: 10px;
}

#input {
    margin: 25px 0 25px 0;
    border: 1.5px solid black;
    width: 250px;
    height: 60px;
    text-align: center;
    border-radius: 5px 5px;
    font-size: 16px;
}

.buttons{
    margin-top: 5px;
    border-style: none;
    color: white;
    font-family: Courier;
}

#submit{
	background-color: #cc0328;
}

#reset{
	background-color: skyblue;
}

#hint{
	background-color: forestgreen; 
}

#timesLeft{
    margin-top: 30px;
}

#guessedArr{
}

#msg{
}

.winnersLosersPage{
    display: block;
    margin: 40px auto;
}

footer {
    position:absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size:12px;
}