* {
    font-family: Courier;
}

div {
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
    width: auto;
    height: 50px;
    border-radius: 5%
}

#rules {
    width: 700px;
    height: auto;
    padding: 10px
}

.enter_area {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: 2px solid black;
    width: 200px;
    height: 20px;
    text-align: center;
    border-radius: 5px 5px;
}

.buttons {
    display: inline-block; 
}


#enter{
    width: 50px;
    height: 20px;
    text-align: center;
	padding: 10px;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #cc0328;
}

#reset{
    width: 50px;
    height: 20px;
    text-align: center;
	padding: 10px;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: skyblue;    
    
}

#hint{
    width: 50px;
    height: 20px;
    text-align: center;
	padding: 10px;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: forestgreen;    
    
}
