* {
    font-family: Courier;
}

div {
    margin-left: auto;
    margin-right: auto;
}

.center{
    text-align: center;
    width: auto;
    height: 50px;
    border-radius: 5%
}

#rules {
    width: 700px;
    height: auto;
    padding: 10px
}

.enter_area {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border: 2px solid black;
    width: 200px;
    height: 20px;
    text-align: center;
    border-radius: 5px 5px;
}

#input{
    
}

.buttons {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    width: 65px;
    height: 30px;
    border-radius: 5px 5px;
    color: #ffffff;
}


#submit{
	background-color: #cc0328;
    border-style: none;
}

#reset{
	background-color: skyblue;
    border-style: none;
}

#hint{
	background-color: forestgreen; 
    border-style: none;
}

#msg{
    
}

#timesLeft{
    
}
